/*
Theme Name: Metodt
Theme URI: http://demo.themefuse.com/philanthropy/
Description: Child theme for the Fitness theme. Child themes are the recommended way of making modifications to a theme. <a href="http://codex.wordpress.org/Child_Themes">Reade More</a>
Author: Edem
Tags:translation-ready
Template: philanthropy-parent
*/

@import url("../philanthropy-parent/style.css");
span.update-count {
    display: none !important;
}
.recent-slider .recent-slider-description {
    text-align: justify;
}
.recent-slider .recent-slider-text .title {
    font-size: 20px;
    font-weight: bold;
    color: #ffffff;
    text-transform: uppercase;
    word-break: normal;
    padding: 0 10px;
    text-align: left;
}